<!--Inicio das fotos-->
<section class="col-l12 col-s12 col-m12 posts my-left">
    <!--Primeira Imagem-->
    <% @posts.each do |p| %>
        <section class="post col-l5 col-m11 col-s10 individual">
            <img src="../img/bkgd-1.jpg" alt="primeiro post">
        </section> 
    <% end %>
    <!--Fim Primeira Imagem-->
</section>