<!--Inicio das fotos-->
<section class="col-l12 posts my-left">
    <!--Primeira Imagem-->
    <% @posts.each do |p| %>
        <section class="post col-l5 individual">
            <img src="../img/bkgd-1.jpg" alt="primeiro post">
        </section>
    <% end %>
    <!--Fim Primeira Imagem-->
</section>