<section>
    <!--Área Lateral direita-->
    <aside class="col-l4 my-bottom ">
        <!--Quem sou eu-->
        <section class="atRight ">
            <header>
                <img class="my-mix-hover" src="img/foto.jpg" id="perfil"/>
                <h3>Sobre</h3>
            </header>
            <article>
                <p>Sou Lucas,</p>
                <p>Tenho 21 anos e sou graduando na Universidade Católica de Petrópolis 
                    em Engenharia de Computação. Passo maior parte do meu 
                    tempo estudano para as provas e aprendendo cada vez
                    mais sobre o gigante e incrível mundo da Computação.
                </p>
            </article>
            <footer>
                <a href="post001.html" class="btn-block">..mooore..</a>
            </footer>
        </section>
        <!--Fim Quem sou eu-->
        <!--Parte categorias/redes fixas-->
        <div id="fixo">
            <!--Categorias-->
            <section class="atRight categorias">
                <header class="title">
                    <h3>Categorias</h3>
                </header>
                <article>
                    <ul>
                        <li><a class="my-btn-hover" href="fotos.html">Fotos</a></li>
                        <li><a class="my-btn-hover" href="programaçao.html">Programação</a></li>
                        <li><a class="my-btn-hover" href="diario.html">Diário</a></li>
                        <li><a class="my-btn-hover" href="musicas.html">Músicas</a></li>

                    </ul>
                </article>
            </section>
            <!--Fim Categorias-->
            <!--Redes sociais-->
            <section class="atRight">
                <header class="title">
                    <h3>Onde me encontrar</h3>
                </header>
                <article class="links">
                    <ul>
                        <li><p><a href="https://www.facebook.com/lucascercun" target="_blank">Facebook</a></p></li>
                        <li><p><a href="https://www.linkedin.com/in/lucas-cerqueira-a86b31152/" target="_blank">LinkedIn</a></p></li>
                        <li><p><a href="https://github.com/LucasTMik" target="_blank">GitHub</a></p></li>      
                    </ul>
                </article>
            </section>
            <!--Fim das Redes sociais-->
        </div>
        <!--Fim Categorias/Redes fixas-->
    </aside>
    <!--Fim lateral direita-->

    <!--Área esquerda dos Posts-->
    <section class="col-l8 my-left">

        <!--Primeiro e Exemplo de post-->
        <a href="post001.html">
            <section class="col-l5 post">
                <header>
                    <img src="img/bkgd-1.jpg" class="post-img" alt="imagem post001"/>
                    <h2>Exemplo de POst</h2>
                </header>
                <article>
                    <p>Neste blog, pretendo colocar de fotos
                        que me interessam até projetos que 
                        estou focado. E espero de todos possam deixar 
                        aquele feedback!
                    </p>
                </article>
            </section>
        </a>

        <!--Fim do primeiro Post-->
    </section>
    <!--Fim dos Posts-->
</section>